<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tsu.itindr">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fontFamily="@font/montserrat_bold"
        android:icon="@drawable/ic_icon"
        android:label="@string/itindr"
        android:roundIcon="@drawable/ic_icon"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.ITindr"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".launcher.SplashActivity"
            android:exported="true"
            android:theme="@style/Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".find.MatchActivity"
            android:exported="true"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".edit.EditActivity"
            android:exported="true" />
        <activity
            android:name=".find.FindActivity"
            android:exported="true" />
        <activity
            android:name=".tellabout.TellAboutActivity"
            android:exported="true" />
        <activity
            android:name=".authorization.AuthorizationActivity"
            android:exported="true" />
        <activity
            android:name=".registration.RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".start.MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>