<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tsu.itindr">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/itindr"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.ITindr"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".edit.EditActivity"
            android:exported="true" />
        <activity
            android:name=".find.FindActivity"
            android:exported="true" />
        <activity
            android:name=".tellabout.TellAboutActivity"
            android:exported="true" />
        <activity
            android:name=".authorization.AuthorizationActivity"
            android:exported="true" />
        <activity
            android:name=".registration.RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".start.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>